@import url("https://fonts.cdnfonts.com/css/zig");

/*font-family: 'Zig', sans-serif;*/
html {
    background-color: whitesmoke;
}

input {
    font-family: "Zig", sans-serif;
    border: 2px solid black;
    margin: 6px;
    width: 300px;
    height: 30px;
}

textarea {
    font-family: "Zig", sans-serif;
    border: 3px solid black;
    width: 600px;
    height: 100px;
    font-size: large;
    font-style: italic;
}

button {
    font-size: large;
    font-family: "Zig", sans-serif;

}

.Cuadros_tareas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5px;
}

.Contenido_CentradoColumna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangulo {
    background-color: aqua;
    margin: 10px;
    border: 5px solid black;
    border-radius: 20px;
}

.rectangle-Nuevo {
    background-color: aquamarine;
    width: 330px;
    height: 500px;
}

.rectangle-Haciendo {
    background-color: wheat;
    width: 330px;
    height: 500px;
}

.rectangle-hecho {
    background-color: palegreen;
    width: 330px;
    height: 500px;
}

.tarea_cuerpo {
    background-color: crimson;
    width: 280px;
    height: 100px;
    padding: 2px;
    font-family: "Zig", sans-serif;
}

.tarea_titulo {
    font-size: large;
}

.tarea_Descripcion {
    font-size: medium;
}

.div-header {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    font-family: "Zig", sans-serif;
}

